
*{
    margin:0;
}
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    /* Tema escuro */
    --background-color: #7D0A0A;
    --text-color: #ffffff;
    --card-background-color: #BF3131;
    --link-color: gainsboro;
    --hover-color: #b9b6ac;
    --button-background: #bdbdbd;
    --button-color: #ffffff;

    /* Tema claro */
    --light-background-color: #E0F7FA; /* Azul claro */
    --light-text-color: #004D40;       /* Verde escuro */
    --light-card-background: #A5D6A7;  /* Verde claro */
    --light-link-color: #00695C;       /* Verde mais escuro */
    --light-hover-color: #004D40;      /* Verde escuro para hover */
    --light-button-background: #4DB6AC; /* Verde mais claro */
    --light-button-color: #ffffff;
}
.fundo{
    background-color: var(--background-color);
    color: var(--text-color);
    height: 100vh;
    box-sizing: border-box;
}
.menu{
    background-color: var(--card-background-color);
    color: var(--text-color);
}
.apresentacao{
    color: var(--text-color);
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}
.apresentacao_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap:32px;
}

nav{
    
   
    padding: 1rem;
 
}
ul{
    box-sizing: border-box;
    display: flex;
    list-style: none;
    padding-left: 2rem;
    padding-right: 1.5rem;
    justify-content: space-between;
    align-items: center;
   
}
li{
    color: gainsboro;
    a{
        text-decoration:none;
        color:inherit;
    }
}
nav ul li a {
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 2px;
}

nav ul li a:hover {
    color: #b9b6ac;
    border-bottom: 2px solid  var(--text-color); 
}
.card{
    background-color: var(--card-background-color);
    color: var(--text-color);
    
}
.button{
    background-color: var(--button-background);
    color: var(--button-color);
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}
.card .view-button {
    display: none; 
    transition: opacity 0.3s ease;
    opacity: 0;
}
.card:hover .view-button {
    display: inline-block; 
    opacity: 1;
}
.apresentacao_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap:32px;
   
}
.texto_apresentacao{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.title{

        font-family: 'Krona One', sans-serif;
        font-weight: 400;
        font-size: 18px;
        
}
.links{
    background-color: var(--card-background-color);
    color: var(--link-color);
    border:1px solid ;
    width: 180px;
    text-align: center;
    border-radius: 16px;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 0;
    text-decoration: none;

    font-family: 'Montserrat', sans-serif;
}
.center{
    margin: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.center_about{
    margin: 10% 15%;
    display: flex;
    align-items: center;

   
}
.button_theme{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-right: 15px;
 
}
.theme-toggle-btn {
    display: flex;
    text-align: flex-end;
 
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 50%;
    background-color: var(--button-background);
    color: var(--button-color);
    transition: background-color 0.3s;
}

.theme-icon svg {
    width: 20px;
    height: 20px;
}


.texto_sobre{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.project_title{
   font-weight: 600;
   font-size: 52px;
   padding-bottom: 5rem;
}
.sobre{
  
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
   
}